.nav {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding-top: 20px;
  background-color: #e2d7f1;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: 1px underline;
    }
  }
}
